:root {
    --black: #000;
    --white: #fff;
    --dark-grey: #141414;
    --main-bg: #fffaec;
    --main-yellow: #ffcd02;
    --green: #a8f03c;
    --main-red: #c81a1a;
    --dark-red: #931213;
    --accent: #ac182c;
    --visited: #5d0e18;
    --main-blue: #087bff;
    --accent-blue: #0f67cc;
    --light: #e0e2e4;
    --bbackground: #b6b0b3;
    --main-font: 'DrukCyr', 'Arial', sans-serif;
    --second-font: 'Headliner', 'Arial', sans-serif;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
}

img {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.wrapper {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

.margin-bottom {
    margin-bottom: 120px;
}

h2 {
    font-family: var(--second-font);
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 70px;
}

/* Fonts */

@font-face {
    font-family: DrukCyr;
    src: impact, url(../fonts/DrukCyr-Medium.woff2) format('woff2'), url(../fonts/DrukCyr-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: DrukCyr;
    src: impact, url(../fonts/DrukCyr-Bold.woff2) format('woff2'), url(../fonts/DrukCyr-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Headliner;
    src: impact, url(../fonts/Headliner.woff2) format('woff2'), url(../fonts/Headliner.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

/* Arrow to top */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(202, 197, 48, 0.815);
    color: var(--main-red);
    border: 1px solid rgba(0, 0, 0, 0.143);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
    transition: 0.3s;
    z-index: 10000;
}

.scroll-to-top:hover {
    transform: scale(1.1);
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

/* Header */

.header {
    background-color: var(--black);
    position: relative;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: translateY(0);
    z-index: 10000;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.header__nav-wrapper {
    width: 100%;
}
.header__logo-wrap {
    max-width: 100px;
}
.header__logo {
    display: block;
    width: 100%;
}
.header__menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    transform: translateY(-100%);
    animation: 0.3s ease-in-out forwards slideDown;
}
@-webkit-keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@media (max-width: 1440px) {
    .header__logo-wrap {
        max-width: 60px;
    }
}
@media (max-width: 768px) {
    .header__menu-wrap {
        padding: 10px 0;
    }
    .header__logo-wrap {
        max-width: 40px;
    }
}
@media (max-width: 425px) {
    .header__logo-wrap {
        max-width: 30px;
    }
    .header__wrapper {
        gap: 10px;
    }
}

.burger {
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    background: 0 0;
    border: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .burger {
        display: flex;
        width: 50px;
        order: 2;
        z-index: 99999;
    }
    .burger span {
        display: flex;
        gap: 4px;
        height: 4px;
        width: 100%;
        background-color: var(--white);
        border-radius: 2px;
        transition: 0.3s;
    }
    .burger.open span:nth-child(1) {
        transform: translateY(20px) rotate(45deg);
    }
    .burger.open span:nth-child(2) {
        opacity: 0;
    }
    .burger.open span:nth-child(3) {
        transform: translateY(6px) rotate(-45deg);
    }
}
@media (max-width: 425px) {
    .container {
        padding: 0 10px;
    }
    .burger {
        width: 40px;
    }
}

/* Nav */

.nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.nav__link {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 2.2px;
    padding: 50px 20px;
}
@media (max-width: 1024px) {
    .nav__list {
        gap: 5px;
    }
    .nav__link {
        font-size: 1.5rem;
        padding: 20px 10px;
    }
}
@media (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        background-color: var(--black);
        transition: right 0.3s;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        margin-right: 0;
        border-bottom-left-radius: 40px;
    }
    .nav.active {
        right: 0;
    }
    .nav__wrapper {
        width: 100%;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        gap: 0;
        text-align: right;
        padding-right: 40px;
    }
    .nav__link {
        font-size: 1.5rem;
        display: block;
        text-align: left;
        padding: 20px 0;
    }
}
@media (max-width: 425px) {
    .nav {
        width: 50%;
    }
    .nav__list {
        padding-right: 0;
        width: 80%;
    }
    .nav__link {
        font-size: 1.125rem;
    }
}
@media (max-width: 320px) {
    .nav {
        width: 60%;
    }
}

/* Tour */

.tour__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tour__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour__item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 25px;
}

.tour__block {
    display: flex;
    align-items: center;
    gap: 40px;
}

.tour__date-wrap {
    display: flex;
    flex-direction: column;
    color: var(--main-red);
    font-size: 40px;
}

.tour__date {
    font-size: 70px;
}

.tour__place {
    display: flex;
    flex-direction: column;
}

.tour__city {
    font-size: 70px;
}

.tour__club {
    font-size: 40px;
    font-family: var(--second-font);
    color: var(--green);
}

.tour__link-social {
    max-width: 83px;
}

.tour__ticket {
    font-size: 40px;
    color: var(--white);
    background-color: var(--main-red);
    text-transform: uppercase;
    border-radius: 10px;
    padding: 16px 24px;
}

/* Info-links */

.info-links {
    position: relative;
}
.info-links__wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.info-links__blocks-socials {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.info-links__blocks-music {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
}
.info-links__social {
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    max-width: 100px;
}
.info-links__social:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.info-links__img-icon {
    width: 100%;
}
.info-links__music {
    transition: transform 0.3s ease-in;
    max-width: 500px;
}
.info-links__music:hover {
    transform: scale(1.03);
}
.info-links__img {
    display: block;
    width: 100%;
}
@media (max-width: 1900px) {
    .info-links__blocks-music {
        padding: 0 200px;
    }
}
@media (max-width: 1200px) {
    .info-links__social {
        max-width: 80px;
    }
    .info-links__blocks-music {
        gap: 30px;
    }
}
@media (max-width: 1024px) {
    .title {
        font-size: 2.125rem;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .info-links__wrapper {
        margin-bottom: 30px;
    }
    .info-links__social {
        max-width: 60px;
    }
    .info-links__blocks-music {
        gap: 15px;
        padding: 0 60px;
    }
}
@media (max-width: 600px) {
    .info-links__blocks-music {
        padding: 0;
    }
}
@media (max-width: 425px) {
    .info-links__wrapper {
        margin-bottom: 15px;
    }
    .info-links__social {
        max-width: 40px;
    }
    .info-links__blocks-socials {
        gap: 10px;
    }
}
@media (max-width: 375px) {
    .info-links__blocks-music {
        grid-template-columns: 1fr;
    }
    .info-links__music {
        max-width: 240px;
    }
}

/* Socials-links */

.socials-links__blocks-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials-links__social {
    max-width: 100px;
}

/* Booking */

.booking__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.booking__links {
    position: relative;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.booking__links::after,
.booking__links::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 20px;
    background-color: var(--white);
}
.booking__links::before {
    left: -100px;
}
.booking__links::after {
    right: -100px;
}
.booking__link {
    max-width: 120px;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}
.booking__link:hover {
    transform: scale(1.05);
}
.booking__icon-link {
    width: 100%;
}
.booking__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booking__email {
    font-size: 1.5rem;
    color: var(--light);
    transition: 0.4s;
    letter-spacing: 2.2px;
}
.booking__email:hover {
    color: var(--main-red);
    text-decoration: underline;
}
.booking__email:active,
.booking__email:focus {
    color: var(--accent);
    text-decoration: underline;
}
@media (max-width: 1200px) {
    .booking {
        padding-top: 50px;
    }
    .booking__title {
        font-size: 2.875rem;
    }
    .booking__links {
        margin-bottom: 20px;
    }
    .booking__links::after,
    .booking__links::before {
        width: 60px;
        height: 10px;
    }
    .booking__links::before {
        left: -70px;
    }
    .booking__links::after {
        right: -70px;
    }
    .booking__link {
        max-width: 80px;
    }
}
@media (max-width: 1024px) {
    .booking {
        padding-top: 20px;
    }
    .booking__title {
        font-size: 2.125rem;
    }
    .booking__links {
        text-align: center;
        gap: 10px;
    }
    .booking__links::after,
    .booking__links::before {
        width: 34px;
        height: 6px;
    }
    .booking__links::before {
        left: -40px;
    }
    .booking__links::after {
        right: -40px;
    }
}
@media (max-width: 425px) {
    .booking__wrapper {
        gap: 10px;
        margin-bottom: 20px;
    }
    .booking__title {
        font-size: 1.5rem;
    }
    .booking__links {
        margin-bottom: 10px;
    }
    .booking__links::after,
    .booking__links::before {
        width: 22px;
        height: 4px;
    }
    .booking__links::before {
        left: -30px;
    }
    .booking__links::after {
        right: -30px;
    }
    .booking__link {
        max-width: 50px;
    }
    .booking__email {
        font-size: 1.125rem;
    }
}

/* Footer */

.footer {
    background-color: var(--black);
    color: var(--light);
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer__logo-wrap {
    flex: 1;
    max-width: 150px;
    justify-self: center;
}
.footer__logo-img {
    display: block;
    width: 100%;
}
.footer__social-img {
    max-width: 50px;
    transition: transform 0.3s ease-in;
}
.footer__social-img:hover {
    transform: scale(1.1);
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}
.footer__email-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__email-link {
    font-size: 1.375rem;
    color: var(--main-red);
    letter-spacing: 2.2px;
}
.footer__email-link:hover {
    text-decoration: underline;
}
.footer__text {
    font-size: 1rem;
    letter-spacing: 1.2px;
}
@media (max-width: 1440px) {
    .footer__wrapper {
        gap: 50px;
    }
}
@media (max-width: 1200px) {
    .footer__wrapper {
        gap: 30px;
    }
    .footer__email-link {
        font-size: 1rem;
    }
    .footer__text {
        font-size: 0.875rem;
    }
}
@media (max-width: 1024px) {
    .footer__email-link {
        font-size: 0.875rem;
    }
    .footer__text {
        font-size: 0.75rem;
    }
}
@media (max-width: 768px) {
    .title {
        margin-top: 40px;
    }
    .footer__wrapper {
        gap: 16px;
    }
    .footer__contacts {
        gap: 10px;
    }
    .footer__social-img {
        max-width: 30px;
    }
}
@media (max-width: 425px) {
    .footer__wrapper {
        flex-direction: column;
        gap: 8px;
        padding-top: 15px;
        padding-bottom: 16px;
    }
    .footer__contacts {
        align-items: center;
    }
    .footer__email-block,
    .footer__text {
        text-align: center;
    }
}
