:root {
    --black: #000;
    --white: #fff;
    --main-bg: #fffaec;
    --main-yellow: #ffcd02;
    --main-red: #c81a1a;
    --dark-red: #931213;
    --accent: #ac182c;
    --visited: #5d0e18;
    --main-blue: #087bff;
    --accent-blue: #0f67cc;
    --light: #e0e2e4;
    --bbackground: #b6b0b3;
    --main-font: 'Impact', 'Arial', sans-serif;
}
*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    background-color: var(--black);
    overflow-x: hidden;
}
.page {
    font-family: var(--main-font);
    overflow-x: hidden;
}
img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.main__wrapper {
    position: relative;
}
.bg-wrap {
    position: absolute;
    top: -40px;
    left: 20%;
    background-image: url(../img/logo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 60%;
    opacity: 0.5;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(202, 197, 48, 0.815);
    color: var(--main-red);
    border: 1px solid rgba(0, 0, 0, 0.143);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 10000;
}
.scroll-to-top:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}
.link {
    display: inline-block;
    font-size: 2rem;
    font-weight: inherit;
    text-transform: uppercase;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: var(--main-yellow);
    padding: 30px 20px;
}
.link_colored {
    font-size: 3rem;
    color: var(--light);
    padding: 20px;
}
.link:hover,
.link_active {
    color: var(--main-red);
    text-decoration: underline;
}
.link:active,
.link:focus {
    color: var(--accent);
    text-decoration: underline;
}
@media (max-width: 1200px) {
    .link_colored {
        font-size: 2rem;
        padding: 15px 0;
    }
}
@media (max-width: 1024px) {
    .link_colored {
        font-size: 1.625rem;
        padding: 10px 6px;
    }
}
@media (max-width: 768px) {
    .link_colored {
        font-size: 1.375rem;
    }
}
@media (max-width: 425px) {
    .scroll-to-top {
        width: 40px;
        height: 40px;
    }
    .link_colored {
        font-size: 1rem;
    }
}
.header {
    background-color: var(--black);
    position: relative;
    z-index: 10000;
    -webkit-transition: background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}
.header__nav-wrapper {
    width: 100%;
}
.header__logo-wrap {
    max-width: 100px;
}
.header__logo {
    display: block;
    width: 100%;
}
.header__menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
}
.nav__link {
    padding: 50px 20px;
}
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: 0.3s ease-in-out forwards slideDown;
    animation: 0.3s ease-in-out forwards slideDown;
}
@-webkit-keyframes slideDown {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideDown {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@media (max-width: 1440px) {
    .header__logo-wrap {
        max-width: 60px;
    }
}
@media (max-width: 1024px) {
    .nav__list {
        gap: 5px;
    }
    .nav__link {
        font-size: 1.5rem;
        padding: 20px 10px;
    }
}
@media (max-width: 768px) {
    .header__menu-wrap {
        padding: 10px 0;
    }
    .header__logo-wrap {
        max-width: 40px;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        background-color: var(--black);
        -webkit-transition: right 0.3s;
        transition: right 0.3s;
        z-index: 1000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 60px;
        margin-right: 0;
        border-bottom-left-radius: 40px;
    }
    .nav.active {
        right: 0;
    }
    .nav__wrapper {
        width: 100%;
    }
    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0;
        text-align: right;
        padding-right: 40px;
    }
    .nav__link {
        font-size: 1.5rem;
        display: block;
        text-align: left;
        padding: 20px 0;
    }
}
@media (max-width: 425px) {
    .header__logo-wrap {
        max-width: 30px;
    }
    .header__wrapper {
        gap: 10px;
    }
    .nav {
        width: 50%;
    }
    .nav__list {
        padding-right: 0;
        width: 80%;
    }
    .nav__link {
        font-size: 1.125rem;
    }
}
@media (max-width: 320px) {
    .nav {
        width: 60%;
    }
}
.container {
    max-width: 1920px;
    padding: 0 60px;
    margin: 0 auto;
}
@font-face {
    font-family: Impact;
    src: impact, url(../fonts/impact.woff2) format('woff2'), url(../fonts/impact.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
.burger {
    display: none;
    width: 40px;
    height: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: 0 0;
    border: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        z-index: 99999;
    }
    .burger span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 4px;
        height: 4px;
        width: 100%;
        background-color: var(--white);
        border-radius: 2px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    .burger.open span:nth-child(1) {
        -webkit-transform: translateY(20px) rotate(45deg);
        -ms-transform: translateY(20px) rotate(45deg);
        transform: translateY(20px) rotate(45deg);
    }
    .burger.open span:nth-child(2) {
        opacity: 0;
    }
    .burger.open span:nth-child(3) {
        -webkit-transform: translateY(6px) rotate(-45deg);
        -ms-transform: translateY(6px) rotate(-45deg);
        transform: translateY(6px) rotate(-45deg);
    }
}
@media (max-width: 425px) {
    .container {
        padding: 0 10px;
    }
    .burger {
        width: 40px;
    }
}
.line__img {
    display: block;
    width: 100%;
}
.line__img_size {
    max-height: 80px;
}
@media (max-width: 768px) {
    .line {
        display: none;
    }
}
.button {
    font-size: 3rem;
    font-weight: inherit;
    text-transform: uppercase;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-color: var(--dark-red);
    color: var(--light);
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: inset -2px 4px 0 #d34748, inset 0 -2px 0 var(--dark-red), 0 5px 6px #660d0d;
    box-shadow: inset -2px 4px 0 #d34748, inset 0 -2px 0 var(--dark-red), 0 5px 6px #660d0d;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    padding: 20px 30px;
}
.button:hover {
    background-color: var(--accent);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
.button_size {
    font-size: 2rem;
    padding: 0;
}
.button_colored {
    background-color: var(--main-blue);
    -webkit-box-shadow: inset -2px 4px 0 #3b93f8, inset 0 -2px 0 var(--main-blue), 0 5px 6px #044288;
    box-shadow: inset -2px 4px 0 #3b93f8, inset 0 -2px 0 var(--main-blue), 0 5px 6px #044288;
}
.button_colored:hover {
    background-color: var(--accent-blue);
}
.button__link {
    display: inline-block;
    color: var(--white);
    padding: 20px 30px;
}
@media (max-width: 1440px) {
    .line__img_size {
        max-height: 50px;
        max-height: 30px;
    }
    .button__link {
        padding: 10px 20px;
    }
}
@media (max-width: 1200px) {
    .button {
        font-size: 1.875rem;
    }
}
@media (max-width: 1024px) {
    .button {
        padding: 10px 20px;
        font-size: 1.625rem;
    }
    .button_size {
        font-size: 1.375rem;
        padding: 0;
    }
}
@media (max-width: 768px) {
    .button {
        font-size: 1.25rem;
    }
    .button_size {
        font-size: 1rem;
    }
    .button__link {
        padding: 7px 14px;
    }
}
@media (max-width: 425px) {
    .button_size {
        font-size: 0.875rem;
    }
    .button__link {
        padding: 3px 10px;
    }
}
.concerts {
    background-color: var(--bbackground);
}
.concerts__bg-block {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.concerts__decor {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 70%;
    background: url(../img/bg-concerts.png) center center/contain no-repeat;
    z-index: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
    pointer-events: none;
}
.concerts__img-wrap {
    max-width: 1920px;
    -ms-grid-column-align: center;
    justify-self: center;
}
.concerts__img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1000;
    top: 150px;
}
@media (max-width: 1440px) {
    .concerts__img {
        top: 100px;
    }
}
@media (max-width: 768px) {
    .concerts__img {
        top: 60px;
    }
}
@media (max-width: 425px) {
    .concerts__decor {
        top: 0;
    }
    .concerts__img {
        top: 20px;
    }
}
@media (max-width: 375px) {
    .concerts__photo {
        top: 40px;
    }
}
.concerts-list {
    background-color: var(--black);
}
.concerts-list__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.concerts-list__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
}
.concerts-list__date {
    font-size: 5.625rem;
    color: var(--light);
}
.concerts-list__img-wrap {
    max-width: 200px;
    text-align: center;
}
.concerts-list__buttons-wrap,
.concerts-list__date {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.concerts-list__img {
    display: block;
    width: 100%;
}
.concerts-list__buttons-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 50px;
}
.concerts-list__line-wrap {
    position: relative;
    margin-top: 60px;
    z-index: 100;
}
@media (max-width: 1920px) {
    .concerts-list__date {
        font-size: 4.375rem;
    }
}
@media (max-width: 1440px) {
    .concerts-list__date {
        font-size: 3.125rem;
    }
}
@media (max-width: 1200px) {
    .concerts-list__date {
        font-size: 2.25rem;
    }
    .concerts-list__img-wrap {
        max-width: 140px;
    }
}
@media (max-width: 1024px) {
    .concerts-list__date {
        font-size: 1.75rem;
    }
    .concerts-list__img-wrap {
        max-width: 100px;
    }
}
@media (max-width: 768px) {
    .concerts-list__date {
        font-size: 1.25rem;
    }
    .concerts-list__block {
        gap: 20px;
    }
    .concerts-list__buttons-wrap {
        gap: 10px;
    }
    .concerts-list__img-wrap {
        max-width: 70px;
    }
}
@media (max-width: 425px) {
    .concerts-list__wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .concerts-list__block {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .concerts-list__img-wrap {
        max-width: 100px;
    }
}
.concerts-description {
    font-size: 3rem;
    background-color: var(--black);
    color: var(--light);
}
.concerts-description__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.concerts-description__text-colored {
    color: var(--main-red);
}
@media (max-width: 1920px) {
    .concerts-description {
        font-size: 2.25rem;
    }
    .concerts-description__wrapper {
        gap: 20px;
    }
}
@media (max-width: 1440px) {
    .concerts-description {
        font-size: 1.875rem;
    }
}
@media (max-width: 1024px) {
    .concerts-description {
        font-size: 1.625rem;
    }
}
@media (max-width: 768px) {
    .concerts-description {
        font-size: 1.25rem;
    }
    .concerts-description__wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 425px) {
    .concerts-description {
        font-size: 1rem;
    }
    .concerts-description__wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.music {
    background-color: var(--black);
    padding-top: 30px;
    padding-bottom: 60px;
}
.tabs__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.tabs__button {
    background-color: transparent;
    color: var(--light);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.tabs__button_active {
    color: var(--main-red);
    text-decoration: underline;
}
.tabs__panel {
    display: none;
}
.tabs__panel_active {
    display: block;
}
.tabs__panel_bg::after {
    content: '';
    position: absolute;
    top: 720px;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url(../img/lines.jpg);
    background-size: 70% auto;
    opacity: 0.3;
}
.tabs__content {
    position: relative;
    margin-top: 10px;
}
.tabs__blocks {
    position: relative;
    z-index: 1;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
    padding: 0 500px;
}
.tabs__img-wrap {
    max-width: 700px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.tabs__img-wrap:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.tabs__img {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
}
.tabs__release-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.tabs__release-link:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.tabs__release-name {
    color: var(--light);
    font-size: 3rem;
}
.tabs__block-text {
    color: var(--light);
    font-size: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}
.tabs__video {
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 100%;
}
.tabs__iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
@media (max-width: 1750px) {
    .tabs__block-text {
        font-size: 3rem;
    }
}
@media (max-width: 1440px) {
    .tabs__blocks {
        padding: 0 300px;
    }
}
@media (max-width: 1200px) {
    .tabs__blocks {
        padding: 0 200px;
    }
}
@media (max-width: 1024px) {
    .tabs__blocks {
        padding: 0 100px;
    }
    .tabs__button {
        font-size: 1.5rem;
    }
    .tabs__panel_bg::after {
        background-size: 110% auto;
    }
}
@media (max-width: 768px) {
    .tabs__release-name {
        font-size: 2rem;
    }
    .tabs__panel_bg::after {
        top: 380px;
        background-size: 130% auto;
    }
}
@media (max-width: 660px) {
    .tabs__blocks {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .tabs__block-text {
        gap: 10px;
    }
    .tabs__img-wrap {
        max-width: 320px;
    }
    .tabs__panel_bg::after {
        top: 630px;
        background-size: 270% auto;
        height: 90%;
    }
}
@media (max-width: 425px) {
    .music {
        padding-bottom: 30px;
    }
    .tabs__blocks {
        gap: 20px;
        padding: 0 50px;
    }
    .tabs__block-text {
        font-size: 1.875rem;
    }
    .tabs__img-wrap {
        max-width: 280px;
    }
    .tabs__panel_bg::after {
        background-size: 333% auto;
        height: 85%;
    }
}
@media (max-width: 375px) {
    .tabs__panel_bg::after {
        background-size: 370% auto;
    }
}
@media (max-width: 320px) {
    .concerts__photo {
        top: 26px;
    }
    .tabs__panel_bg::after {
        background-size: 377% auto;
        top: 420px;
        height: 88%;
    }
}
.title {
    position: relative;
    font-size: 4rem;
    color: var(--light);
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}
.info-links {
    position: relative;
}
.info-links__wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.info-links__blocks-socials {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}
.info-links__blocks-music {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
    padding: 0 370px;
}
.info-links__social {
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    max-width: 100px;
}
.info-links__social:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.info-links__img-icon {
    width: 100%;
}
.info-links__music {
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    max-width: 500px;
}
.info-links__music:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.info-links__img {
    display: block;
    width: 100%;
}
@media (max-width: 1900px) {
    .info-links__blocks-music {
        padding: 0 200px;
    }
}
@media (max-width: 1200px) {
    .title {
        font-size: 2.875rem;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .info-links__social {
        max-width: 80px;
    }
    .info-links__blocks-music {
        gap: 30px;
    }
}
@media (max-width: 1024px) {
    .title {
        font-size: 2.125rem;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .info-links__wrapper {
        margin-bottom: 30px;
    }
    .info-links__social {
        max-width: 60px;
    }
    .info-links__blocks-music {
        gap: 15px;
        padding: 0 60px;
    }
}
@media (max-width: 600px) {
    .info-links__blocks-music {
        padding: 0;
    }
}
@media (max-width: 425px) {
    .title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .info-links__wrapper {
        margin-bottom: 15px;
    }
    .info-links__social {
        max-width: 40px;
    }
    .info-links__blocks-socials {
        gap: 10px;
    }
}
@media (max-width: 375px) {
    .info-links__blocks-music {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .info-links__music {
        max-width: 240px;
    }
}
.booking {
    padding-top: 100px;
}
.booking__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}
.booking__title {
    font-size: 4rem;
    color: var(--light);
}
.booking__links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.booking__links::after,
.booking__links::before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80px;
    height: 20px;
    background-color: var(--white);
}
.booking__links::before {
    left: -100px;
}
.booking__links::after {
    right: -100px;
}
.booking__link {
    max-width: 120px;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.booking__link:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.booking__icon-link {
    width: 100%;
}
.booking__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.booking__email {
    font-size: 1.5rem;
    color: var(--light);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.booking__email:hover {
    color: var(--main-red);
    text-decoration: underline;
}
.booking__email:active,
.booking__email:focus {
    color: var(--accent);
    text-decoration: underline;
}
@media (max-width: 1200px) {
    .booking {
        padding-top: 50px;
    }
    .booking__title {
        font-size: 2.875rem;
    }
    .booking__links {
        margin-bottom: 20px;
    }
    .booking__links::after,
    .booking__links::before {
        width: 60px;
        height: 10px;
    }
    .booking__links::before {
        left: -70px;
    }
    .booking__links::after {
        right: -70px;
    }
    .booking__link {
        max-width: 80px;
    }
}
@media (max-width: 1024px) {
    .booking {
        padding-top: 20px;
    }
    .booking__title {
        font-size: 2.125rem;
    }
    .booking__links {
        text-align: center;
        gap: 10px;
    }
    .booking__links::after,
    .booking__links::before {
        width: 34px;
        height: 6px;
    }
    .booking__links::before {
        left: -40px;
    }
    .booking__links::after {
        right: -40px;
    }
}
@media (max-width: 425px) {
    .booking__wrapper {
        gap: 10px;
        margin-bottom: 20px;
    }
    .booking__title {
        font-size: 1.5rem;
    }
    .booking__links {
        margin-bottom: 10px;
    }
    .booking__links::after,
    .booking__links::before {
        width: 22px;
        height: 4px;
    }
    .booking__links::before {
        left: -30px;
    }
    .booking__links::after {
        right: -30px;
    }
    .booking__link {
        max-width: 50px;
    }
    .booking__email {
        font-size: 1.125rem;
    }
}
.bottom-section__img {
    display: block;
    width: 100%;
}
.footer {
    background-color: var(--black);
    color: var(--light);
}
.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: 10px;
}
.footer__logo-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 500px;
    -ms-grid-column-align: center;
    justify-self: center;
}
.footer__logo-img {
    display: block;
    width: 100%;
}
.footer__social-img {
    max-width: 100px;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.footer__title {
    font-size: 2rem;
}
.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: 20px;
}
.footer__socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}
.footer__social-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: 30px;
}
.footer__email-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}
.footer__email-link {
    font-size: 1.375rem;
    color: var(--main-red);
}
.footer__email-link:hover {
    text-decoration: underline;
}
.footer__text {
    font-size: 1rem;
}
@media (max-width: 1440px) {
    .footer__wrapper {
        gap: 50px;
    }
}
@media (max-width: 1200px) {
    .footer__wrapper {
        gap: 30px;
    }
    .footer__title {
        font-size: 1.75rem;
    }
    .footer__socials-list {
        gap: 15px;
    }
    .footer__social-img {
        max-width: 70px;
    }
    .footer__email-link {
        font-size: 1rem;
    }
    .footer__text {
        font-size: 0.875rem;
    }
}
@media (max-width: 1024px) {
    .footer__title {
        font-size: 1.5rem;
    }
    .footer__email-link {
        font-size: 0.875rem;
    }
    .footer__text {
        font-size: 0.75rem;
    }
}
@media (max-width: 768px) {
    .title {
        margin-top: 40px;
    }
    .footer__wrapper {
        gap: 16px;
    }
    .footer__title {
        font-size: 1.25rem;
    }
    .footer__contacts {
        gap: 10px;
    }
    .footer__social-img {
        max-width: 40px;
    }
    .footer__socials-list {
        gap: 6px;
    }
}
@media (max-width: 425px) {
    .footer__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 8px;
        padding-top: 15px;
        padding-bottom: 16px;
    }
    .footer__links {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .footer__logo-wrap {
        max-width: 150px;
    }
    .footer__contacts {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer__email-block,
    .footer__socials,
    .footer__text {
        text-align: center;
    }
    .footer__title {
        font-size: 1.125rem;
    }
}
